@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #8122C9;
    --color-secondary: #8B00F5;
    --color-action: #B7EF00;
    --color-tertiary: #2F2B33; 
    --color-white: #FEFEFE;
    --color-red: #F5020F;
    --font-chakra: "Chakra Petch", sans-serif;
}

:root {
    @apply bg-primary text-white antialiased font-chakra;
}

h1 { @apply text-4xl font-bold }

h2 { @apply text-3xl font-bold }

h3 { @apply text-xl font-medium }

a { 
    @apply transition-all text-action hover:text-lime-400 
    active:text-lime-600 hover:scale-105 underline font-bold
}